.zonaCero-div{
    
    background-color: rgb(207, 207, 228);
  
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 2px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;  
    height: auto;
  }
.zonaCero-div>h1,h2{
  display: flex;
  justify-content: center;
  height: fit-content;
}






